header{background:black;
color: whitesmoke;
font-size: 25px;
    
}

body{ background-image: url("https://wallpaperplay.com/walls/full/0/4/f/92233.jpg");
    align-content: center;
    padding: 5%;
}
h3{color: whitesmoke;
    font-size: 22px;
}
main{
    
   padding: 5% 25% 25% 5%;
}
.logotitle{
align-content: center;
margin-left: 25%;
}
#notices{
    display: block;    
}
.title1{
    display:block;
}
#root{
    background: black;
    color: whitesmoke;
}